<nav class="container">
    <ul>
        <li><a href="/"><strong>Hand maded API</strong></li></a>
    </ul>
    <ul>
        <li><a href="#">Products</a></li>
        <li><a href="/login">Login</a></li>

        {% if session.user_name is defined %}
        <li>
            <details class="dropdown">
                <summary>
                    Account
                </summary>
                <ul dir="rtl">
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Security</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </details>
        </li>
        {% else %}
        <li><a href="/signup"><button>Signup</button></li></a>
        {% endif %}
    </ul>
</nav>