<nav style="padding: 0% 10%;">
    <ul>
        <li><strong>Hand maded API</strong></li>
    </ul>
    <ul>
        <li><a href="/signup">Signup</a></li>
        <li><a href="#">Get API Key</a></li>
        <li>
            <details class="dropdown">
                <summary>
                    Products
                </summary>
                <ul dir="rtl">
                    <li><a href="#">Hand maded API</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Security</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </details>
        </li>
    </ul>
</nav>